{% extends "layout.html" %}
{% block content %}

{% if session.user_id %}
<br>
<a href="/logout">Kirjaudu ulos</a>
<br>
<h2>Tervetuloa {{ session.user_name }}!</h2>
<br>
Omat reseptit:
<br>
<ul>
    {% for recipe in own_recipes %}
    <ul><a href="/profile/recipes/{{ recipe.id }}">{{ recipe.name }}</a></ul>
    {% endfor %}
</ul>
<a href="/{{ user_id }}/newrecipe">Luo resepti</a>

{% else %}
<title>Et ole kirjautunut sisään</title>
<a href="/login">Kirjaudu sisään</a> | <a href="/register">Luo tunnus</a>
{% endif %}

{% endblock %}