{% extends "layout.html" %}
{% block content %}

{% if session.user_id %}
<title>Oma sivu</title>
<b>Tervetuloa {{ session.user_name }}!</b>
<br>
<h3>Omat Reseptit:</h3> 
<hr>
<ul>
    {% for recipe in own_recipes %}
    <li><a href="/profile/recipes/{{ recipe.id }}">{{ recipe.name }}</a></li>
    {% endfor %}
</ul>
<a href="/{{ user_id }}/newrecipe">Luo resepti</a>  <a href="/logout">Kirjaudu ulos</a>

{% else %}
<title>Et ole kirjautunut sisään</title>
<a href="/login">Kirjaudu sisään</a> | <a href="/register">Luo tunnus</a>
{% endif %}

{% endblock %}