{% extends "layout.html" %}
{% block content %}
<a href="/">Etusivulle</a>
<br>
<h2>{{ name }}</h2>
<form action="/modify_name/{{ r_id }}" method="post">
    <input type="text" name="name" placeholder="Uusi nimi" required>
    <input type="submit" value="Vaihda nimi">
    <input type="hidden" name="csrf" value="{{ session.csrf }}">
</form>
<br>



<form action="/delete_ingredient/{{ r_id }}" method="post">
    <table>
        <thead>
        <tr>
            <th><label for="ingredient">Raaka-aine</label></th>
            <th><label for="amount">Määrä </label></th>
            <th><label for="unit">Yksikkö</label></th>
        </tr>
    </thead>
    <tbody id="ingr_table">
        {% for i in old_ingredients %}
    <tr>
        <td>{{ i[0] }}</td>
        <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>
        <td><input type="radio" name="ingr_id" value="{{ i[3] }}" required></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

    <input type="hidden" name="ingr_rows" value="{{ ingr_rows }}">
    <input type="submit" value="Poista valittu rivi.">
    <input type="hidden" name="csrf" value="{{ session.csrf }}">
</form>
<br>



<form action="/add_ingredient/{{ r_id }}" method="post">
    <tr>
        <td><input type="text" name="ingredient" placeholder="10% kermaa" minlength="3" maxlength="30" required></td>
        <td><input type="number"  name="amount" placeholder="0.5" min="0" step="0.01" required></td>
        <td><input type="text" name="unit" placeholder="dl" minlength="1" maxlength="30" required></td>
    </tr>
    <input type="hidden" name="csrf" value="{{ session.csrf }}">
    <input type="submit" value="Lisää rivi.">
</form>
<br>


 <br>
<b>Anna uudet ohjeet.</b>Voit halutessasi jakaa ohjeet eri vaiheisiin merkillä ;
<form action="/modify_instructions/{{ r_id }}" method="post">
    <textarea name="instructions" rows="8" cols="40" maxlength="1000" required>
       {% for i in old_instructions %}
       {{ i[0] }};
       {% endfor %}
    </textarea>
        <input type="submit" value="Vaihda ohjeet">
        <input type="hidden" name="csrf" value="{{ session.csrf }}">
</form>
<br><br>
Reseptisi on tällä hetkellä {{ public }}.
<form action="/modify_public/{{ r_id }}" method="post">
    <label for="public_status">Valitse julkisuusstatus:</label>
    <select name="public_status">
        <option value="False">Yksityinen</option>
        <option value="True">Julkinen</option>
    </select>
    <input type="submit" value="Vaihda julkisuusstatus">
    <input type="hidden" name="csrf" value="{{ session.csrf }}">
</form>
<br><br>
<form action="/delete_recipe/{{ r_id }}" method="post">
    <input type="submit" value="Poista resepti">
    <input type="hidden" name="csrf" value="{{ session.csrf }}">
</form>


{% endblock %}