{% extends "layout.html" %}
{% block content %}
<a href="/">Etusivulle</a>
<br>
<h2>Luo uusi resepti</h2>
<form action="/create_recipe" method="post" id="new_recipe">
    Reseptin nimi: <br>
    <input type="text" name="name" minlength="3" maxlength="25">
    <br>
    Anna raaka-aineet omilla riveillään muodossa "raaka-aine;määrä(numeroina);yksikkö"
    <textarea name="ingredients" rows="8" cols="40" maxlength="1000">
    porkkana;0.5;kg
    bataatti tai peruna;1;kg
    </textarea>
    <br>
    Anna reseptille ohjeet. Halutessasi voit erotella eri vaiheet merkillä ";".
    <textarea name="instructions" rows="8" cols="40" maxlength="1000">
    Ensimmäisen vaiheen kirjalliset ohjeet;
    Toisen vaiheen ohjeet; Kolmannen vaiheen ohjeet; jne
    </textarea>
    <input type="submit" value="Tallenna resepti">
</form>

{% endblock %}

