{% extends "layout.html" %}
{% block content %}

<form action="/create_recipe" method="post" id="new_recipe">
    Reseptin nimi: <br>
    <input type="text" name="name" minlength="1" maxlength="25"></textarea>
    <br>
    Anna raaka-aineet omilla riveillään muodossa "raaka-aine;määrä(numeroina);yksikkö"
    <textarea name="ingredients" rows="8" cols="40" maxlength="1000">
    porkkana;0.5;kg
    bataatti tai peruna;1;kg
    </textarea></p> 
    <br>
    Anna reseptille ohjeet. Halutessasi voit erotella eri vaiheet merkillä ";".
    <textarea name="instructions" rows="8" cols="40" maxlength="1000">
    Ensimmäisen vaiheen kirjalliset ohjeet;
    Toisen vaiheen ohjeet; Kolmannen vaiheen ohjeet; jne
    </textarea>
    <input type="submit" value="Tallenna resepti">
</form>
<a href="/">Katso omat reseptit</a>

{% endblock %}

