{% extends "layout.html" %}
{% block content %}

<br>
<a href="/logout">Kirjaudu ulos</a> | <a href="/">Etusivulle</a>
<br>
<h2>Kirjastossa on {{ recipes_amount }} reseptiä, jotka eivät vielä ole kirjastossasi!</h2>
<br>
Hae resepti nimellä (vähintään 3 merkkiä):
<form action="/search" method="post">
    <input type="text" name="search_name" minlength="3" maxlength="25">
    <input type="submit" value="Etsi">
    <input type="hidden" name="csrf" value="{{ session.csrf }}">
</form>
<br>
Hae resepti ainesosan mukaan (vähintään 3 merkkiä):
<form action="/search_ingredient" method="post">
    <input type="text" name="search_ingredient" minlength="3" maxlength="25">
    <input type="submit" value="Etsi">
    <input type="hidden" name="csrf" value="{{ session.csrf }}">
</form>
<br>
Muiden käyttäjien luomat julkiset reseptit:
<br>
<ul>
    {% for recipe in public_recipes %}
    <ul><a href="/recipes/{{ recipe.id }}">{{ recipe.name }} </a></ul>
    {% endfor %}
</ul>

{% endblock %}