{% extends "layout.html" %}
{% block content %}
<a href="/">Etusivulle</a>
<br>
<h2>{{ name }}</h2> Arvosana: {{ stars }} / 5 (arvioita {{ rated }})
<br>
<br>
<form action="/multiply/{{ id }}" method="post">
    Vaihda annoskoon kerrointa: 
    <input type="text" name="coef" placeholder="0.5" required>
    <input type="submit" value="Vaihda kerroin">
    <input type="hidden" name="csrf" value="{{ session.csrf }}">
</form>
<table>
    <tr>
        <th>Raaka-aine</th>
        <th>Määrä</th>
        <th>Yksikkö</th>
    </tr>
    {% for i in ingredients %}
    <tr>
        <td>{{ i[0] }}</td>
        <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>
    </tr>
    {% endfor %}
</table>

<h3>Ohjeet:</h3>
<ol>
    {% for step in instructions %}
    <li>{{ step[0] }}</li>
    {% endfor %}
</ol>
<br>


{% if in_library or is_own: %}

<h3>Muistiinpanot:</h3>
<form action="/delete_note/{{ id }}", method="post">
<ol>
    {% for n in notes %}
    <li>{{ n.content }} 
        <input type="radio" name="note_id" value="{{ n.id }}"><br>
    </li>
    {% endfor %}
</ol>
<input type="hidden" name="csrf" value="{{ session.csrf }}">
<input type="submit" value="Poista valittu muistiinpano">
</form>

<br>
Lisää muistiinpano:
<form action="/add_note/{{ id }}", method="post">
    <textarea name="note"rows="6" cols="30" maxlength="1000">
        Muistiinpanoja tähän
    </textarea>
    <input type="submit" value="Lisää muistiinpano">
    <input type="hidden" name="csrf" value="{{ session.csrf }}">
</form>
<br>
Arvostele resepti asteikolla 1-5:
<br>
<form action="/stars/{{ id }}", method="post">
    <input type="number" name="stars" min="1" max="5">
    <input type="submit" value="Anna arvio">
    <input type="hidden" name="csrf" value="{{ session.csrf }}">
</form>
<br>
{% endif %}
{% if is_own: %}
<br>
Tämä on oma reseptisi ja se on tällä hetkellä {{ public_status }}.
<br>
<a href="/modify/{{ id }}">Poista tai muokkaa reseptiä</a>
<br>
{% elif in_library: %}
<br>
Reseptin on lisännyt {{added_by  }}. Et voi muokata reseptiä.
<form action="/delete_from_library/{{ id }}", method="post">
    <input type="submit" value="Poista omasta kirjastosta">
    <input type="hidden" name="csrf" value="{{ session.csrf }}">
</form>
<br>
{% else: %}
Reseptin on lisännyt {{ added_by }}. Et voi muokata reseptiä. 
<br>

<br>
<form action="/add_to_library/{{ id }}", method="post">
    <input type="submit" value="Lisää omaan kirjastoon">
    <input type="hidden" name="csrf" value="{{ session.csrf }}">
</form>
{% endif %}

{% endblock %}
