{% extends "layout.html" %}
{% block content %}
<a href="/">Etusivulle</a>
<br>
<h2>{{ name }}</h2>
<br>
<table>
    <tr>
        <th>Raaka-aine</th>
        <th>Määrä</th>
        <th>Yksikkö</th>
    </tr>
    {% for i in ingredients %}
    <tr>
        <td>{{ i[0] }}</td>
        <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>
    </tr>
    {% endfor %}
</table>

<h3>Ohjeet:</h3>
<ol>
    {% for step in instructions %}
    <li>{{ step[0] }}</li>
    {% endfor %}
</ol>


{% if in_library or is_own: %}
Lisää muistiinpano:
<form action="{{ user_id }}/add_note/{{ id }}", method="post">
    <textarea name="note"rows="8" cols="40" maxlength="100">
        Muisiintpanoja tähän
    </textarea>
    <input type="submit"value="Lisää muistiinpano">
</form>
{% elif is_own: %}
<br>
Tämä on oma reseptisi ja se on tällä hetkellä {{ public_status }}.
<br>
<a href="/{{ user_id }}/modify/{{ id }}">Poista tai muokkaa reseptiä</a>
<br>
{% else %}
Reseptin on lisännyt {{ added_by }}. Et voi muokata reseptiä. 
<br>
<form action="/add_to_library/{{ id }}", method="post">
    <input type="submit" value="Lisää omaan kirjastoon">
</form>
{% endif %}

{% endblock %}